<h3 style="margin-top: 5%">Latest Rates and Calculate based on it.</h3>


<p>Calculate how much your bitcoins worth based on the current prices.</p>
<div class="row">
    <div class="six columns">
        <label for="holdingsInput">Bitcoins</label>
        <input class="u-full-width" id="holdingsInput" type="text" ng-model="vm.holdingsInput" ng-change="vm.calculate()">
    </div>
    <div class="six columns">
        <label for="units">BTC Units</label>
        <input type="radio" name="units" id="btc" ng-model="vm.unitName" value="btc" ng-change="vm.calculate()">
        BTC&nbsp;
        <input type="radio" name="units" id="mbtc" ng-model="vm.unitName" value="mbtc" ng-change="vm.calculate()">
        mBTC&nbsp;
        <input type="radio" name="units" id="ubtc" ng-model="vm.unitName" value="ubtc" ng-change="vm.calculate()">
        µBTC (bits)&nbsp;
    </div>
</div>
<div class="row">
    <div class="six columns">
        <label for="holdingsBuy">Current Holdings (according to Buy)</label>
        <input class="u-full-width" disabled id="holdingsBuy" type="text" ng-model="vm.holdingsBuy">
    </div>
    <div class="six columns">
        <label for="holdingsSell">Current Holdings (according to Sell)</label>
        <input class="u-full-width" disabled id="holdingsSell" type="text" ng-model="vm.holdingsSell">
    </div>
</div>

<hr>

<div class="row">
    <div class="six columns">
        <label for="buy">Current Price (Buy)</label>
        <input class="u-full-width" disabled id="buy" type="text" ng-model="vm.buyInput">
    </div>
    <div class="six columns">
        <label for="sell">Current Price (Sell)</label>
        <input class="u-full-width" disabled id="sell" type="text" ng-model="vm.sellInput">
    </div>
</div>
<div class="row">
    <div class="six columns">
        <button ng-click="vm.refresh()">Refresh</button>
        <img ng-if="vm.reloading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
    </div>
</div>
